body{
    background-image:url("nekaj.jpg");
    background-repeat: no-repeat;
    background-position:100%;
    background-color:darkslategray;
}

h1{
    text-align: center;
    border-style: dotted;
    border-style: outset groove;
    border-width:20px;
    border-color: black;
    color: darkslategray;
    background-color:gray;
}

p{
    font-family: "Times New Roman, Times, serif";
    font-size:20px;
}

table{
    color: white;
    border-color: gray;
    background-color: black;
    border-width: 10px;
    width:50%;
    border-collapse:collapse;
    margin-left: auto;
    margin-right: auto;
    
    
}
tr{
    font-size:25px;
}
td:hover {
    background-color: gray;
    color: white;
}
td::selection{
    color:white;
    background-color: gray;
}
td:active{
    background-color: darkslategray;
}


#izbornik {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    word-spacing: 100px;
  }
  
#izbornik li {
  float: left;
  word-spacing: 100px;
}
  
#izbornik  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
#izbornik  li a:hover {
  background-color: #111;
}

#albumi{
  list-style-type: none;
  color: gray;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#albmui li{
  float: left;

}
